Install Library and requirements

In [1]:
import numpy as np
import pandas as pd

C:\Users\chara\AppData\Local\Temp\ipykernel_16684\1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_proteins = pd.read_csv('/PDPP/amp-parkinsons-disease-progression-prediction/train_proteins.csv')
df_peptides = pd.read_csv('/PDPP/amp-parkinsons-disease-progression-prediction/train_peptides.csv')
df_clinical = pd.read_csv('/PDPP/amp-parkinsons-disease-progression-prediction/train_clinical_data.csv')
df_supple = pd.read_csv('/PDPP/amp-parkinsons-disease-progression-prediction/supplemental_clinical_data.csv')

Protein Dataset

In [3]:
temp = df_proteins[df_proteins['visit_id'] == '55_0']

In [4]:
temp

    visit_id  visit_month  patient_id UniProt       NPX
0       55_0            0          55  O00391   11254.3
1       55_0            0          55  O00533  732430.0
2       55_0            0          55  O00584   39585.8
3       55_0            0          55  O14498   41526.9
4       55_0            0          55  O14773   31238.0
..       ...          ...         ...     ...       ...
214     55_0            0          55  Q9UBX5   60912.6
215     55_0            0          55  Q9UHG2  408698.0
216     55_0            0          55  Q9UNU6   29758.8
217     55_0            0          55  Q9Y646   23833.7
218     55_0            0          55  Q9Y6R7   18953.5

[219 rows x 5 columns]

In [5]:
df_proteins.head()

  visit_id  visit_month  patient_id UniProt       NPX
0     55_0            0          55  O00391   11254.3
1     55_0            0          55  O00533  732430.0
2     55_0            0          55  O00584   39585.8
3     55_0            0          55  O14498   41526.9
4     55_0            0          55  O14773   31238.0

In [6]:
df_proteins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232741 entries, 0 to 232740
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   visit_id     232741 non-null  object
 1   visit_month  232741 non-null  int64
 2   patient_id   232741 non-null  int64
 3   UniProt      232741 non-null  object
 4   NPX          232741 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 8.9+ MB

In [7]:
df_proteins.nunique()

visit_id         1113
visit_month        15
patient_id        248
UniProt           227
NPX            218795
dtype: int64

In [8]:
df_proteins['visit_month'].unique()

array([  0,   3,   6,  12,  18,  24,  30,  36,  48,  54,  60,  72,  84,
        96, 108], dtype=int64)

Peptides Dataset

In [9]:
df_peptides.head()

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
0,55_0,0,55,O00391,NEQEQPLGQWHLS,11254.3
1,55_0,0,55,O00533,GNPEPTFSWTK,102060.0
2,55_0,0,55,O00533,IEIPSSVQQVPTIIK,174185.0
3,55_0,0,55,O00533,KPQSAVYSTGSNGILLC(UniMod_4)EAEGEPQPTIK,27278.9
4,55_0,0,55,O00533,SMEQNGPGLEYR,30838.7

In [10]:
df_peptides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981834 entries, 0 to 981833
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   visit_id          981834 non-null  object
 1   visit_month       981834 non-null  int64
 2   patient_id        981834 non-null  int64
 3   UniProt           981834 non-null  object
 4   Peptide           981834 non-null  object
 5   PeptideAbundance  981834 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 44.9+ MB

In [11]:
df_peptides.nunique()

visit_id              1113
visit_month             15
patient_id             248
UniProt                227
Peptide                968
PeptideAbundance    738931
dtype: int64

In [12]:
df_peptides['Peptide'].value_counts()

Peptide
TLLSNLEEAK                1113
IPTTFENGR                 1113
NILTSNNIDVK               1113
KYLYEIAR                  1113
AIGYLNTGYQR               1113
                          ...
HYEGSTVPEK                 605
SLEDQVEMLR                 599
TPSGLYLGTC(UniMod_4)ER     590
EPQVYTLPPSRDELTK           563
QALPQVR                    489
Name: count, Length: 968, dtype: int64

In [13]:
df_peptides[df_peptides['Peptide'] == 'TLLSNLEEAK']

,visit_id,visit_month,patient_id,UniProt,Peptide,PeptideAbundance
688,55_0,0,55,P10909,TLLSNLEEAK,795652.0
1605,1517_0,0,1517,P10909,TLLSNLEEAK,637587.0
2487,1923_0,0,1923,P10909,TLLSNLEEAK,966994.0
3391,2660_0,0,2660,P10909,TLLSNLEEAK,689337.0
4286,3636_0,0,3636,P10909,TLLSNLEEAK,248407.0
...,...,...,...,...,...,...
977975,58648_96,96,58648,P10909,TLLSNLEEAK,436291.0
978867,5645_108,108,5645,P10909,TLLSNLEEAK,678289.0
979776,12703_108,108,12703,P10909,TLLSNLEEAK,520947.0
980695,55096_108,108,55096,P10909,TLLSNLEEAK,428082.0
981607,58648_108,108,58648,P10909,TLLSNLEEAK,585867.0

Clinical Dataset

In [14]:
df_clinical.head()

,visit_id,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4,upd23b_clinical_state_on_medication
0,55_0,55,0,10.0,6.0,15.0,NaN,NaN
1,55_3,55,3,10.0,7.0,25.0,NaN,NaN
2,55_6,55,6,8.0,10.0,34.0,NaN,NaN
3,55_9,55,9,8.0,9.0,30.0,0.0,On
4,55_12,55,12,10.0,10.0,41.0,0.0,On

In [15]:
df_clinical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2615 entries, 0 to 2614
Data columns (total 8 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   visit_id                             2615 non-null   object
 1   patient_id                           2615 non-null   int64
 2   visit_month                          2615 non-null   int64
 3   updrs_1                              2614 non-null   float64
 4   updrs_2                              2613 non-null   float64
 5   updrs_3                              2590 non-null   float64
 6   updrs_4                              1577 non-null   float64
 7   upd23b_clinical_state_on_medication  1288 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 163.6+ KB

In [16]:
df_clinical.isna().sum()

visit_id                                  0
patient_id                                0
visit_month                               0
updrs_1                                   1
updrs_2                                   2
updrs_3                                  25
updrs_4                                1038
upd23b_clinical_state_on_medication    1327
dtype: int64

In [17]:
df_clinical.describe()

,patient_id,visit_month,updrs_1,updrs_2,updrs_3,updrs_4
count,2615.000000,2615.000000,2614.000000,2613.00000,2590.000000,1577.000000
mean,32651.743786,31.190822,7.110559,6.74359,19.421236,1.861763
std,18535.758700,25.199053,5.525955,6.32323,15.000289,3.022112
min,55.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,16574.000000,10.500000,3.000000,1.00000,6.000000,0.000000
50%,29417.000000,24.000000,6.000000,5.00000,19.000000,0.000000
75%,50611.000000,48.000000,10.000000,10.00000,29.000000,3.000000
max,65043.000000,108.000000,33.000000,40.00000,86.000000,20.000000

In [18]:
df_clinical.describe(include = 'object')

       visit_id upd23b_clinical_state_on_medication
count      2615                                1288
unique     2615                                   2
top        55_0                                  On
freq          1                                 775

In [19]:
df_clinical['upd23b_clinical_state_on_medication'].unique()

array([nan, 'On', 'Off'], dtype=object)

In [20]:
df_peptides['Peptide'].value_counts()

Peptide
TLLSNLEEAK                1113
IPTTFENGR                 1113
NILTSNNIDVK               1113
KYLYEIAR                  1113
AIGYLNTGYQR               1113
                          ...
HYEGSTVPEK                 605
SLEDQVEMLR                 599
TPSGLYLGTC(UniMod_4)ER     590
EPQVYTLPPSRDELTK           563
QALPQVR                    489
Name: count, Length: 968, dtype: int64

OneHotEncoding Class Function

In [21]:
list_peptides = list(set(df_peptides['Peptide']))
list_proteins = list(set(df_proteins['UniProt']))

In [22]:
class OneHotEncoding:
    
    def __init__(self, output_column_name, df_clinical, df_peptides, df_proteins, list_peptides, list_proteins ):
        
        self.output_column = output_column_name
        self.df_clinical   = df_clinical[['visit_id','patient_id','visit_month',output_column_name]].dropna()
        
        self.df_peptides   = df_peptides.drop(['patient_id','visit_month',"UniProt"], axis = 1)
        self.df_proteins   = df_proteins.drop(['patient_id','visit_month'],           axis = 1)
        
        
        self.peptides  = list_peptides
        self.proteins  = list_proteins
        
        columns        = list(self.df_clinical.columns) + self.peptides + self.proteins
        
        self.data_dict = { column : [] for column in columns }
        
    def get_data_by_visit_id(self,visit_id):
        
        true_value_peptides = self.df_peptides["visit_id"] == visit_id
        true_value_proteins = self.df_proteins["visit_id"] == visit_id
        
        patient_peptide_details    = self.df_peptides[true_value_peptides][['Peptide','PeptideAbundance']]
        patient_proteins_details   = self.df_proteins[true_value_proteins][['UniProt','NPX']]
        
        return ( patient_peptide_details, patient_proteins_details )
        
    def encoding_by_inputs(self,global_names, patient_data, names , values ):
        
        global_names = self.peptides if global_names == 'peptides' else self.proteins 
        
        for name in global_names:
            
            is_present_name = name in patient_data[names].values  
            
            value = patient_data[patient_data[names] == name][values].values[0] if is_present_name else 0
            
            self.data_dict[name].append(value)
            
            
    def main(self):
        
        for visit_id, patient_id, visit_month, output_column in self.df_clinical.values:
            
            patient_peptide_details, patient_proteins_details = self.get_data_by_visit_id(visit_id)
            
            if patient_peptide_details.values.shape[0] != 0 and patient_proteins_details.values.shape[0] != 0:
                self.encoding_by_inputs( 'peptides', patient_peptide_details ,'Peptide','PeptideAbundance')
                self.encoding_by_inputs( 'proteins', patient_proteins_details,'UniProt','NPX' )
                self.data_dict['visit_id'        ].append(visit_id)
                self.data_dict['patient_id'      ].append(patient_id)
                self.data_dict['visit_month'     ].append(visit_month)
                self.data_dict[self.output_column].append(output_column)

    
    def get_dataframe(self):
        
        return pd.DataFrame(self.data_dict)

One Hot Encoding on updrs_1 , updrs_2, updrs_3, updrs_4

In [23]:
updrs_1 = OneHotEncoding('updrs_1', df_clinical, df_peptides, df_proteins, list_peptides, list_proteins)
updrs_1.main()
updrs_1 = updrs_1.get_dataframe()

updrs_2 = OneHotEncoding('updrs_2', df_clinical, df_peptides, df_proteins, list_peptides, list_proteins)
updrs_2.main()
updrs_2 = updrs_2.get_dataframe()

updrs_3 = OneHotEncoding('updrs_3', df_clinical, df_peptides, df_proteins, list_peptides, list_proteins)
updrs_3.main()
updrs_3 = updrs_3.get_dataframe()

updrs_4 = OneHotEncoding('updrs_4', df_clinical, df_peptides, df_proteins, list_peptides, list_proteins)
updrs_4.main()
updrs_4 = updrs_4.get_dataframe()

In [24]:
updrs_1.to_csv('updrs_1.csv', index = False)
updrs_2.to_csv('updrs_2.csv', index = False)
updrs_3.to_csv('updrs_3.csv', index = False)
updrs_4.to_csv('updrs_4.csv', index = False)

Feature Selection

In [25]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from tqdm import tqdm

In [26]:
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectKBest, f_regression

from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

from sklearn.model_selection     import GridSearchCV

from sklearn.metrics import accuracy_score

In [27]:
class Model_Training:
    def __init__(self, updrs, name):

        X = updrs.drop(['visit_id', 'patient_id', name], axis = 1)
        y = updrs[name]

        self.X_train, self.X_test, self.y_train, self.y_test = train_test_split(X, y, test_size=0.2, random_state=42)

        self.final_models = {
            'name': [],
            'model': [],
            'root_mean_sqr': [],
            'absolute_mean': [],
            'r2_score': []
        }

        models = {
            'Linear Regression': LinearRegression(),
            'K-Neighbors Regressor': KNeighborsRegressor(),
            'Decision Tree': DecisionTreeRegressor(),
            'Random Forest Regressor': RandomForestRegressor(),
            'Support Vector Regression': SVR()
        }

        # Set up the pipeline for each model 
        self.pipelines = {}
        for model_name, model in models.items():

            pipeline = Pipeline([
                ('scaler', StandardScaler()),
                ('feature_selection', SelectKBest(f_regression)),
                ('model', model)
            ])

            # Set up hyperparameter tuning
            if model_name == 'Linear Regression':
                param_grid = {
                    'feature_selection__k': [5, 10, 15, 20]
                }
            elif model_name == 'K-Neighbors Regressor':
                param_grid = {
                    'feature_selection__k': [5, 10, 15, 20],
                    'model__n_neighbors': [5, 10, 15, 20]
                }
            elif model_name == 'Decision Tree':
                param_grid = {
                    'feature_selection__k': [5, 10, 15, 20],
                    'model__max_depth': [5, 10, 15, 20]
                }
            elif model_name == "Random Forest Regressor":
                param_grid = {
                    'feature_selection__k': [5, 10, 15, 20],
                    'model__n_estimators': [100, 200, 300, 400]
                }
            elif model_name == "Support Vector Regression":
                param_grid = {
                    'model__C': [0.1, 1, 10],
                    'model__kernel': ['linear', 'poly', 'rbf'],
                    'model__degree': [2, 3, 4],
                    'model__gamma': ['scale', 'auto'],
                    'model__epsilon': [0.01,0.1,0.5,1]
                }
        
            # Set up grid search with cross-validation
            grid_search = GridSearchCV(pipeline, param_grid=param_grid, cv=5, n_jobs=-1, scoring='neg_mean_squared_error' )

            # Fit the model 

            # Store the model pipeline and grid search in a dictionary
            self.pipelines[model_name] = grid_search

    def evaluate_model(self, predicted):

        mae = mean_absolute_error(self.y_test, predicted)
        rmse = np.sqrt(mean_squared_error(self.y_test, predicted))
        r2_square = r2_score(self.y_test, predicted)

        return mae, rmse, r2_square

    def fit(self):
        for model_name, pipeline in tqdm(self.pipelines.items()):
            # Fit the pipeline to the training data
            pipeline.fit(self.X_train, self.y_train)          
        
            # Predict the target variable for the testing data
            best_model = pipeline.best_estimator_
            y_pred = best_model.predict(self.X_test)

            # Calculate the root mean squared error (RMSE) of the predictions
            model_test_mae , model_test_rmse, model_test_r2 = self.evaluate_model(y_pred)

            # Fetching in final data list
            self.final_models['name'].append(model_name)
            self.final_models['model'].append(best_model)
            self.final_models['root_mean_sqr'].append(model_test_rmse)
            self.final_models['absolute_mean'].append(model_test_mae)
            self.final_models['r2_score'].append(model_test_r2)

    def final_models_list(self):
        
        return pd.DataFrame(self.final_models).sort_values('r2_score',ascending = False)
    
    def best_model(self):
        
        return self.final_models_list().values[0][1]

In [28]:
updrs_1_model = Model_Training(updrs_1,'updrs_1')
updrs_1_model.fit()

updrs_1_best_model = updrs_1_model.best_model()

updrs_1_model.final_models_list()

  0%|          | 0/5 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [01:56<00:00, 23.28s/it]

,name,model,root_mean_sqr,absolute_mean,r2_score
1,K-Neighbors Regressor,"(StandardScaler(), SelectKBest(k=20, score_fun...",5.131159,3.917056,0.094856
3,Random Forest Regressor,"(StandardScaler(), SelectKBest(k=20, score_fun...",5.145249,3.983551,0.089879
4,Support Vector Regression,"(StandardScaler(), SelectKBest(score_func=<fun...",5.156852,3.887227,0.085769
0,Linear Regression,"(StandardScaler(), SelectKBest(score_func=<fun...",5.258682,4.102343,0.049307
2,Decision Tree,"(StandardScaler(), SelectKBest(score_func=<fun...",6.319150,4.450258,-0.372789

In [29]:
updrs_2_model = Model_Training(updrs_2,'updrs_2')
updrs_2_model.fit()

updrs_2_best_model = updrs_2_model.best_model()

updrs_2_model.final_models_list()

  0%|          | 0/5 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [01:46<00:00, 21.29s/it]

,name,model,root_mean_sqr,absolute_mean,r2_score
3,Random Forest Regressor,"(StandardScaler(), SelectKBest(k=20, score_fun...",6.088370,4.882827,0.111287
0,Linear Regression,"(StandardScaler(), SelectKBest(k=5, score_func...",6.239590,5.072427,0.066592
1,K-Neighbors Regressor,"(StandardScaler(), SelectKBest(k=15, score_fun...",6.258528,4.893692,0.060917
4,Support Vector Regression,"(StandardScaler(), SelectKBest(score_func=<fun...",6.341992,4.805904,0.035703
2,Decision Tree,"(StandardScaler(), SelectKBest(score_func=<fun...",6.681023,5.156175,-0.070152

In [30]:
updrs_3_model = Model_Training(updrs_3,'updrs_3')
updrs_3_model.fit()

updrs_3_best_model = updrs_3_model.best_model()

updrs_3_model.final_models_list()

  0%|          | 0/5 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [01:55<00:00, 23.13s/it]

,name,model,root_mean_sqr,absolute_mean,r2_score
3,Random Forest Regressor,"(StandardScaler(), SelectKBest(k=20, score_fun...",13.417354,11.116616,0.070815
1,K-Neighbors Regressor,"(StandardScaler(), SelectKBest(k=20, score_fun...",13.514020,11.329717,0.057378
0,Linear Regression,"(StandardScaler(), SelectKBest(score_func=<fun...",13.799714,11.497138,0.017102
4,Support Vector Regression,"(StandardScaler(), SelectKBest(score_func=<fun...",13.910493,11.561061,0.001258
2,Decision Tree,"(StandardScaler(), SelectKBest(k=5, score_func...",15.184519,12.519221,-0.190064

In [31]:
updrs_4_model = Model_Training(updrs_4,'updrs_4')
updrs_4_model.fit()

updrs_4_best_model = updrs_4_model.best_model()

updrs_4_model.final_models_list()

  0%|          | 0/5 [00:00<?, ?it/s]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [01:07<00:00, 13.60s/it]

,name,model,root_mean_sqr,absolute_mean,r2_score
3,Random Forest Regressor,"(StandardScaler(), SelectKBest(k=15, score_fun...",2.969992,2.251009,0.069877
2,Decision Tree,"(StandardScaler(), SelectKBest(k=5, score_func...",2.974231,2.250420,0.067220
1,K-Neighbors Regressor,"(StandardScaler(), SelectKBest(k=15, score_fun...",3.002468,2.243275,0.049424
4,Support Vector Regression,"(StandardScaler(), SelectKBest(score_func=<fun...",3.060970,2.178801,0.012020
0,Linear Regression,"(StandardScaler(), SelectKBest(score_func=<fun...",3.076113,2.389275,0.002221